5.n8n Project/customer_suprt_Proj_using_RAG.json
{
  "name": "2.customer suprt Proj",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        150
      ],
      "id": "e80cad3b-2be6-4622-91fe-c5c7d9ceed88",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "pAjS2NcTnHV6s9kT",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "From google",
              "description": "Any mail that seems to come from google"
            },
            {
              "category": "Other",
              "description": "Any other mail"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        150
      ],
      "id": "cfe949ce-bd73-46c3-86f0-11aaf5b494d9",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        308,
        370
      ],
      "id": "d1764b2a-94b2-4d02-bb48-1d8a8cd6cc8c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LDnnleuPS3JXmfkW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        674,
        300
      ],
      "id": "26592db3-284b-4c1a-bc7b-29d21f01507b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "={{ $('Gmail Trigger').item.json.text }}",
        "text": "",
        "options": {
          "systemMessage": "=#Overview\nyou are a email agent whose task is to collect all the mail from google and give a concise output\n\n##Instruction\n1.Be brief\n2.Use conversational tone\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        596,
        -100
      ],
      "id": "63c60b41-2d59-4c1d-a27b-8b072d4bdb48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        684,
        120
      ],
      "id": "cfdbff13-3f5d-4dae-9e7e-eb52b9c3e88c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LDnnleuPS3JXmfkW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool to access FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nproject",
          "mode": "list",
          "cachedResultName": "n8nproject"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        860,
        180
      ],
      "id": "50a2b42d-2814-47f7-bdb4-7eb0f1f645cd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "l6ioUEDc3Ko3cOpU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1000,
        320
      ],
      "id": "b3efa14e-55d5-4a57-a5dc-8dbf5b4b40fd",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LDnnleuPS3JXmfkW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        -100
      ],
      "id": "23ffde4c-d84f-472f-b1df-577c720c824f",
      "name": "Gmail",
      "webhookId": "0c807845-0ffe-4cf9-864f-017ab16c0875",
      "credentials": {
        "gmailOAuth2": {
          "id": "pAjS2NcTnHV6s9kT",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1975a03b2acead48",
          "threadId": "1975a03b2acead48",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 12382,
          "headers": {
            "delivered-to": "Delivered-To: tentakeaways2023@gmail.com",
            "received": "Received: from mail-sor-f73.google.com (mail-sor-f73.google.com. [209.85.220.73])\r\n        by mx.google.com with SMTPS id 8926c6da1cb9f-500df42f969sor6016289173.6.2025.06.10.06.24.41\r\n        for <tentakeaways2023@gmail.com>\r\n        (Google Transport Security);\r\n        Tue, 10 Jun 2025 06:24:41 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:6e02:2162:b0:3dd:b5ef:4556 with SMTP id\r\n e9e14a558f8ab-3ddeddd7398mr30697275ab.18.1749561881128; Tue, 10 Jun 2025\r\n 06:24:41 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1749561881; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=BtToVR0Hp6zrcOF75FJ0P5T8PM1sVxXL5Eg7JZNPJNiVcTuwuVeBthlpNZXVl7RzBN\r\n         BanSUbrCPeeNeqKUJxDn5lB+0M832WUoEN12Zl4HekYc8J7mPXrU6RftO9EotocY9Uki\r\n         CJr9j4b0iwdp9QCiLcNaFTUki1eIv5jpNYryzJYnp6IpVxlOtCscTS8uXHNyytJXPHCR\r\n         y55heh4wPtogFh7N/XEMsl4oH7kcXoNK7DbZiBwplE89Qy04J2aZwQK1Ptb/Wx+xnBzD\r\n         9oiUTuALSOkuswL5x92VBm0N2m5AQwqtclh+d70NcpTgMaZ8QagpjxgyQNEQs7pT3zME\r\n         j1DA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:from:subject:message-id:feedback-id:date:mime-version\r\n         :dkim-signature;\r\n        bh=HiQRhEmcBkoxC/8AaCG3Nuu+TkmdQGb+Vt5lueNkbcs=;\r\n        fh=UY0FIBF1o2gOsS6aznUYySHmEuZ0hNPBJiu7SIZaFlo=;\r\n        b=ApIvqgDP9DlvyfkZ6vYuOE6vNOyDbFW4zr5VY3Gg9rqsasALF/ObimnwQfELDQ585c\r\n         JOrEzQUx1HtbHtbkWVfdbJVOIqWEsYpHhBHb0YogCe9KZQ+yiDgLw/y2sdvLQM/yjOpE\r\n         eni4QDkMKJPkUKaLu7nq22JJUqxA3dVeeyeG6s6cOcOn/mUJUDK53CBWAGrjWS21tHas\r\n         dfWvyJ7zZMW8FRSojY/0SpPmejG5utjVa/x+h9VUVbKy0bjR7ve4IQ9uWCnmTkTScJ3t\r\n         NSIb+EMo/BWFfVLkMZ6aT0IUfOlh8CV7er5jULCQIwLEZ4sOWAoVIDaFmHleg7LkpYnt\r\n         4B7w==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@accounts.google.com header.s=20230601 header.b=mZSJjAWj;\r\n       spf=pass (google.com: domain of 3gtjiaagtaoyvw-zmxtgikkwcvba.owwotm.kwu@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) smtp.mailfrom=3GTJIaAgTAOYVW-ZMXTgIKKWcVba.OWWOTM.KWU@gaia.bounces.google.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=accounts.google.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <3GTJIaAgTAOYVW-ZMXTgIKKWcVba.OWWOTM.KWU@gaia.bounces.google.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of 3gtjiaagtaoyvw-zmxtgikkwcvba.owwotm.kwu@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) client-ip=209.85.220.73;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@accounts.google.com header.s=20230601 header.b=mZSJjAWj;\r\n       spf=pass (google.com: domain of 3gtjiaagtaoyvw-zmxtgikkwcvba.owwotm.kwu@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) smtp.mailfrom=3GTJIaAgTAOYVW-ZMXTgIKKWcVba.OWWOTM.KWU@gaia.bounces.google.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=accounts.google.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=accounts.google.com; s=20230601; t=1749561881; x=1750166681; dara=google.com;\r\n        h=to:from:subject:message-id:feedback-id:date:mime-version:from:to:cc\r\n         :subject:date:message-id:reply-to;\r\n        bh=HiQRhEmcBkoxC/8AaCG3Nuu+TkmdQGb+Vt5lueNkbcs=;\r\n        b=mZSJjAWjvZlYLN2ZsfnYd1/gm01oOFigtuMEU26zGqt3onnarK6xjSn+fLWo6PFDBa\r\n         zPCGvMI+a0bMo6AetFlXhgxR5n7r0ModeXmkLEnhvF9VeAUmwt45igfa8y2nF33J4nz7\r\n         RFeolV0XnBKF3GcBhmzPyNSD0SfdGAyzrUQ5gM7ajJOTrdreCqts8tfjrn0iUX6xRpa1\r\n         bQbeIe3ZAWyNAw3202Se0EqHExsFB9H+R7YfxjSWSq3dIAlg9bITTasMt4htvImHpbUF\r\n         h78ISF50AvO3Q8+BfQYjfaVtP0bf7xnsd30xsHxkSC9PCNLOBJuSaXnz8xaXog1dKqoX\r\n         LiTg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1749561881; x=1750166681;\r\n        h=to:from:subject:message-id:feedback-id:date:mime-version\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=HiQRhEmcBkoxC/8AaCG3Nuu+TkmdQGb+Vt5lueNkbcs=;\r\n        b=n12f/POnYwXsNvSAXW8ChbzAl9sLp604NJ1aR4Zo+HCi2aCbCcwUZgolNOozfCmzJ+\r\n         s2DRBqtG1nIZ1YTww4vgSxjkfII/xPydkVmAqqBDarKocN5KjMfLJxNmOwfiScGBxTv4\r\n         NJNWvMzPRjNcA6NeY/cofccU23NRUa2xv8WSfpQye75D+0YzGV2NpwA1v6yKhcqhsq3N\r\n         ZuA21rYhFZKV5kbKQOJAIyUHVGihP6zTw/fN/DQ+wO6rHrr6YWxh97rbA0TlPokPSm+N\r\n         WBvwu/PBScYJA6EZJU4Kj1qZViv9LMUh/rLwyC9GqTcAQBrx379tpPQtZJ8Jo41kMaKk\r\n         /aHw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YzQFWkrwpN1tfDeehvkQjnmqJGP4QwY6acsuPdoaNXTpf3JwvsL\r\n\t1MNMZkzT/pfBXcjPIQ25jjoOk70zRsXm9Ap0gamZ3XGdIRfxCj2mhoMJLaGzW74e2auKMaHq33l\r\n\tiikj2thZttYOacCJ6GKVhQDp6Rm4Wn0FDS1B/0b0=",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFg6fGtHQk/wWB11RHtNJmBDdcPovM+TYRUrEpUDsdyL2qLqeOTbh3IN1LEqQK4chQ5d67NI/+OxC/456G6EOZXew==",
            "mime-version": "MIME-Version: 1.0",
            "date": "Date: Tue, 10 Jun 2025 13:24:40 GMT",
            "x-account-notification-type": "X-Account-Notification-Type: 16",
            "feedback-id": "Feedback-ID: 16:account-notifier",
            "x-notifications": "X-Notifications: 08dbab8e1fca0000",
            "x-notifications-bounce-info": "X-Notifications-Bounce-Info: AWoTSIEVtjT-782m32PQ2yA4rlG-1sduhEqUqu9e3gAFhNoafAZrOR-1kfzE51-MvlLRTXmWE5c0fJklpmuo7lSaBHZ4vc6MgtP8JZMj1xB-SR3u3oFH5mkn5oD1YLibai_fb_NkI030uL1UBQul_hiuR2karMCE80KEbdd8h4ZsXEsJBAvvO7VMTA6PahmDkbZFPJkgxtZ08-iDCtVtM--N1QNjAwNjA0MDQxNTM1NTk2OTMzMg",
            "message-id": "Message-ID: <ObDQgWRmqwzdidErKny92w@notifications.google.com>",
            "subject": "Subject: 2-Step Verification turned on",
            "from": "From: Google <no-reply@accounts.google.com>",
            "to": "To: tentakeaways2023@gmail.com",
            "content-type": "Content-Type: multipart/alternative; boundary=\"0000000000006fee660637379e45\""
          },
          "html": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"format-detection\" content=\"email=no\"/><meta name=\"format-detection\" content=\"date=no\"/><style nonce=\"BZSrtVirIRDpC1k97tk6YA\">.awl a {color: #FFFFFF; text-decoration: none;} .abml a {color: #000000; font-family: Roboto-Medium,Helvetica,Arial,sans-serif; font-weight: bold; text-decoration: none;} .adgl a {color: rgba(0, 0, 0, 0.87); text-decoration: none;} .afal a {color: #b0b0b0; text-decoration: none;} @media screen and (min-width: 600px) {.v2sp {padding: 6px 30px 0px;} .v2rsp {padding: 0px 10px;}} @media screen and (min-width: 600px) {.mdv2rw {padding: 40px 40px;}} </style><link href=\"//fonts.googleapis.com/css?family=Google+Sans\" rel=\"stylesheet\" type=\"text/css\" nonce=\"BZSrtVirIRDpC1k97tk6YA\"/></head><body style=\"margin: 0; padding: 0;\" bgcolor=\"#FFFFFF\"><table width=\"100%\" height=\"100%\" style=\"min-width: 348px;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" lang=\"en\"><tr height=\"32\" style=\"height: 32px;\"><td></td></tr><tr align=\"center\"><td><div itemscope itemtype=\"//schema.org/EmailMessage\"><div itemprop=\"action\" itemscope itemtype=\"//schema.org/ViewAction\"><link itemprop=\"url\" href=\"https://accounts.google.com/AccountChooser?Email=tentakeaways2023@gmail.com&amp;continue=https://myaccount.google.com/signinoptions/two-step-verification?rfn%3D16%26rfnc%3D1%26eid%3D-8835194210329486218%26et%3D0\"/><meta itemprop=\"name\" content=\"Review Activity\"/></div></div><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"padding-bottom: 20px; max-width: 516px; min-width: 220px;\"><tr><td width=\"8\" style=\"width: 8px;\"></td><td><div style=\"border-style: solid; border-width: thin; border-color:#dadce0; border-radius: 8px; padding: 40px 20px;\" align=\"center\" class=\"mdv2rw\"><img src=\"https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_74x24dp.png\" width=\"74\" height=\"24\" aria-hidden=\"true\" style=\"margin-bottom: 16px;\" alt=\"Google\"><div style=\"font-family: &#39;Google Sans&#39;,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom: thin solid #dadce0; color: rgba(0,0,0,0.87); line-height: 32px; padding-bottom: 24px;text-align: center; word-break: break-word;\"><div style=\"font-size: 24px;\">2-Step Verification turned on </div><table align=\"center\" style=\"margin-top:8px;\"><tr style=\"line-height: normal;\"><td align=\"right\" style=\"padding-right:8px;\"><img width=\"20\" height=\"20\" style=\"width: 20px; height: 20px; vertical-align: sub; border-radius: 50%;;\" src=\"https://lh3.googleusercontent.com/a/ACg8ocI8mq8qq-3y3RZ1rFFk3gLPL4st-lqtLgFzPnoSiGPgjAn2oIo=s96-c\" alt=\"\"></td><td><a style=\"font-family: &#39;Google Sans&#39;,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.87); font-size: 14px; line-height: 20px;\">tentakeaways2023@gmail.com</a></td></tr></table> </div><div style=\"font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: rgba(0,0,0,0.87); line-height: 20px;padding-top: 20px; text-align: left;\"><p>Your Google Account tentakeaways2023@gmail.com is now protected with 2-Step Verification. When you sign in on a new or untrusted device, you’ll need your second factor to verify your identity.</p><p><b>Don't get locked out!</b><br>You can add a backup phone or get backup codes to use when you don’t have your second factor with you.</p>You can <a href=\"https://accounts.google.com/AccountChooser?Email=tentakeaways2023@gmail.com&amp;continue=https://myaccount.google.com/signinoptions/two-step-verification?rfn%3D16%26rfnc%3D1%26eid%3D-8835194210329486218%26et%3D0\" style=\"text-decoration: none; color: #4285F4;\" target=\"_blank\">review your 2SV settings</a>  to make changes.</div><div style=\"padding-top: 20px; font-size: 12px; line-height: 16px; color: #5f6368; letter-spacing: 0.3px; text-align: center\">You can also see security activity at<br><a style=\"color: rgba(0, 0, 0, 0.87);text-decoration: inherit;\">https://myaccount.google.com/notifications</a></div></div><div style=\"text-align: left;\"><div style=\"font-family: Roboto-Regular,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.54); font-size: 11px; line-height: 18px; padding-top: 12px; text-align: center;\"><div>You received this email to let you know about important changes to your Google Account and services.</div><div style=\"direction: ltr;\">&copy; 2025 Google LLC, <a class=\"afal\" style=\"font-family: Roboto-Regular,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.54); font-size: 11px; line-height: 18px; padding-top: 12px; text-align: center;\">1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</a></div></div></div></td><td width=\"8\" style=\"width: 8px;\"></td></tr></table></td></tr><tr height=\"32\" style=\"height: 32px;\"><td></td></tr></table></body></html>",
          "text": "[image: Google]\n2-Step Verification turned on\n\n\ntentakeaways2023@gmail.com\n\nYour Google Account tentakeaways2023@gmail.com is now protected with 2-Step\nVerification. When you sign in on a new or untrusted device, you’ll need\nyour second factor to verify your identity.\n\n*Don't get locked out!*\nYou can add a backup phone or get backup codes to use when you don’t have\nyour second factor with you.\nYou can review your 2SV settings\n<https://accounts.google.com/AccountChooser?Email=tentakeaways2023@gmail.com&continue=https://myaccount.google.com/signinoptions/two-step-verification?rfn%3D16%26rfnc%3D1%26eid%3D-8835194210329486218%26et%3D0>\nto make changes.\nYou can also see security activity at\nhttps://myaccount.google.com/notifications\nYou received this email to let you know about important changes to your\nGoogle Account and services.\n© 2025 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA\n",
          "textAsHtml": "<p>[image: Google]<br/>2-Step Verification turned on</p><p><a href=\"mailto:tentakeaways2023@gmail.com\">tentakeaways2023@gmail.com</a></p><p>Your Google Account <a href=\"mailto:tentakeaways2023@gmail.com\">tentakeaways2023@gmail.com</a> is now protected with 2-Step<br/>Verification. When you sign in on a new or untrusted device, you&rsquo;ll need<br/>your second factor to verify your identity.</p><p>*Don&apos;t get locked out!*<br/>You can add a backup phone or get backup codes to use when you don&rsquo;t have<br/>your second factor with you.<br/>You can review your 2SV settings<br/>&lt;<a href=\"https://accounts.google.com/AccountChooser?Email=tentakeaways2023@gmail.com&continue=https://myaccount.google.com/signinoptions/two-step-verification?rfn%3D16%26rfnc%3D1%26eid%3D-8835194210329486218%26et%3D0\">https://accounts.google.com/AccountChooser?Email=tentakeaways2023@gmail.com&continue=https://myaccount.google.com/signinoptions/two-step-verification?rfn%3D16%26rfnc%3D1%26eid%3D-8835194210329486218%26et%3D0</a>&gt;<br/>to make changes.<br/>You can also see security activity at<br/><a href=\"https://myaccount.google.com/notifications\">https://myaccount.google.com/notifications</a><br/>You received this email to let you know about important changes to your<br/>Google Account and services.<br/>&copy; 2025 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>",
          "subject": "2-Step Verification turned on",
          "date": "2025-06-10T13:24:40.000Z",
          "to": {
            "value": [
              {
                "address": "tentakeaways2023@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:tentakeaways2023@gmail.com\" class=\"mp_address_email\">tentakeaways2023@gmail.com</a></span>",
            "text": "tentakeaways2023@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "no-reply@accounts.google.com",
                "name": "Google"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Google</span> &lt;<a href=\"mailto:no-reply@accounts.google.com\" class=\"mp_address_email\">no-reply@accounts.google.com</a>&gt;</span>",
            "text": "\"Google\" <no-reply@accounts.google.com>"
          },
          "messageId": "<ObDQgWRmqwzdidErKny92w@notifications.google.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fd95602-09f6-4b56-9bac-7859e6c64718",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dde5e8bf6efa49135c10ab15283a66e10b28aa29c973089d0d2006fd9afa4d0"
  },
  "id": "HYKCtMXcuio7U0qR",
  "tags": []
}