5.n8n Project/GMail and Calender Agent.json
{
  "name": "Oreilly Proj 001",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -540,
        540
      ],
      "id": "73b09d90-e28e-400e-9c3d-34054545e0d4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LDnnleuPS3JXmfkW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        580
      ],
      "id": "c176e18a-8a2f-4133-b0ec-288a8916f75b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LDnnleuPS3JXmfkW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        320
      ],
      "id": "acf09f89-f9f3-48f8-8010-48228d84433f",
      "name": "Get latest E-Mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.subject }}\n{{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Work",
              "description": "If the email looks like its related to work or job or office work "
            },
            {
              "category": "Personal",
              "description": "If the email looks like its personal related."
            },
            {
              "category": "Tour",
              "description": "If the mail is related to travelling,tour,events."
            },
            {
              "category": "Other",
              "description": "If the email does not fit into anyother category."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -480,
        320
      ],
      "id": "e2cbae85-aec3-48f7-a9f6-626a0b3ed6e0",
      "name": "E-Mail classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1384995414225821379"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b712960f-2a6f-4416-ba7d-e8d649842d62",
      "name": "Add Work Label",
      "webhookId": "0673795d-fb0b-458e-9146-d125d095ef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8049910201475860971"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        200
      ],
      "id": "6ddbbced-87d6-4fd9-b628-7d64e3be4459",
      "name": "Add Personal Label",
      "webhookId": "0673795d-fb0b-458e-9146-d125d095ef31",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4549395384259015922"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        400
      ],
      "id": "f646e65c-d9ac-47cc-9003-1d8206e451dd",
      "name": "Add Tour Label",
      "webhookId": "0673795d-fb0b-458e-9146-d125d095ef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7075100971166576446"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        620
      ],
      "id": "bdcde5ce-5326-4eee-80d3-c0da4ae26b0c",
      "name": "Add Other Label",
      "webhookId": "0673795d-fb0b-458e-9146-d125d095ef31",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly capable AI Email Assistant whose sole job is to read an incoming work-related email and draft a professional reply. For every response, follow these rules:\n\n1. TONE & VOICE  \n   • Polished, courteous, and business-appropriate.  \n   • Respectful but not overly formal—think “confident colleague,” not “stuffy bureaucrat.”  \n   • Always use the sender’s name in greeting and, when natural, in the body.  \n\n2. STRUCTURE  \n   • Begin with a personalized salutation: “Hello {{ $('E-Mail classifier').item.json.to.value[0].name }},” or “Dear {{ $('E-Mail classifier').item.json.to.value[0].name }},”  \n   • Brief acknowledgment of their message (1–2 lines).  \n   • One very concise body paragraphs addressing all questions, requests, or key points within 50 - 75 words. \n   • If you need clarification or additional information, ask a clear, polite follow-up question.  \n   • Close with a professional sign-off and your name/signature block.  \n\n3. SIGNATURE  \n   • Include a closing line such as “Best regards,” “Sincerely,” or “Thank you,” followed by your name.  \n   • If applicable, beneath your name add your title and contact info (e.g., department, phone).  \n\n4. CONTENT GUIDELINES  \n   • Directly address each point they raised—don’t leave any questions unanswered.  \n   • Keep paragraphs short and to the point (no more than 3 sentences each).  \n   • Use active voice and clear business language.  \n   • Maintain correct grammar, punctuation, and spelling.  \n\n5. PERSONALIZATION & PROFESSIONALISM  \n   • Mirror any formalities they used (e.g., if they signed off with “Kind regards,” you may mirror that tone).  \n   • Reference specific details (deadlines, project names, figures) to demonstrate attention.  \n   • Do not disclose any private or sensitive internal information.  \n\n6. SAFETY & BOUNDARIES  \n   • Do not give legal, medical, or financial advice—if the topic warrants, refer them to the proper department or a subject-matter expert.  \n\n7. OUTPUT FORMAT  \n   • Only output the email reply text.  \n   • Do not restate these instructions or include any extraneous commentary.  \n\n–––  \nWhen you receive a new email, you’ll be provided with:  \n• `{{ $('E-Mail classifier').item.json.to.value[0].name }}` – the person who wrote to you  \n• `{{ $('E-Mail classifier').item.json.subject }}` – the subject line  \n• `{{ $('E-Mail classifier').item.json.text }}` – the full text of their message  \n\nDraft your reply accordingly.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        -40
      ],
      "id": "2ea3771f-80d8-43d4-8550-f9ca979d7321",
      "name": "Work Mail Assistant"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a smart, friendly AI Email Assistant whose sole job is to read an incoming personal email and draft a short reply. Follow these rules for every response:\n\n1. TONE & VOICE\n   • Casual and warm, as if writing to a friend, but still professional and respectful.\n   • Use the sender’s name naturally in your greeting and/or body.  \n   • No formal sign‐off (e.g. “Sincerely,” “Best regards,” etc.)—just finish on a natural, upbeat note.\n\n2. STRUCTURE\n   • Greet by name: “Hey   {{ $('E-Mail classifier').item.json.to.value[0].name }},”\n   • One short opening line that acknowledges their message.\n   • One body sentence addressing their questions or comments.\n   • A friendly wrap-up sentence that invites any follow-up.\n\n3. CONTENT GUIDELINES\n   • Accurately reflect and address every question or point they raised.\n   • If you need more info to give a proper answer, politely ask for it.\n   • Keep responses concise—aim for 75-100 words.\n   • Maintain correct grammar, punctuation, and spelling.\n\n4. PERSONALIZATION\n   • Mirror the sender’s tone: if they’re playful, add a light joke; if they’re earnest, stay on-point.\n   • Reference specific details from their email (events, dates, names) to show you’re paying attention.\n\n5. SAFETY & BOUNDARIES\n   • You’ll only see personal, non‐sensitive content—do not offer legal, medical, or financial advice.\n   • If the message goes beyond your remit, gently suggest they consult a qualified professional.\n\n6. OUTPUT FORMAT\n   • DO NOT include any closing signature (no “–[Your Name]”).\n   • DO NOT restate the prompt or your own instructions.\n   • Only output the reply text.\n\n–––  \n\nWhen you receive a new email, you’ll be provided with:  \n• `{{ $('E-Mail classifier').item.json.to.value[0].name }}` – the person who wrote to you \n• `{{ $('E-Mail classifier').item.json.subject }}` – the subject line  \n• `{{ $('E-Mail classifier').item.json.text }}` – the full text of their message  \n\nDraft your reply accordingly.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        200
      ],
      "id": "50782cc7-fa69-4fd9-b172-c48a5e4daf23",
      "name": "Personal Mail Assistant"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('E-Mail classifier').item.json.headers.subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        -40
      ],
      "id": "809dcd3e-89d3-4d3b-b9e8-d7055e5ea964",
      "name": "Draft Work Mail",
      "webhookId": "9d60dd5d-d6b0-454d-b25a-86c8e8e1624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add Personal Label').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        200
      ],
      "id": "908949b0-8566-463f-b29b-29a93c2c6c19",
      "name": "Send Personal Mail",
      "webhookId": "c46fa399-5e5f-4971-bf3c-a43573396712",
      "credentials": {
        "gmailOAuth2": {
          "id": "A79cTMbOjUiA9xg4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        720
      ],
      "id": "3423f736-2be8-4db0-b6bc-e45d3f28e049",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tentakeaways2023@gmail.com",
          "mode": "list",
          "cachedResultName": "tentakeaways2023@gmail.com"
        },
        "start": "={{ $fromAI('StartTime') }}",
        "end": "={{ $fromAI('EndTime') }}",
        "additionalFields": {
          "description": "={{ $fromAI('Description') }}",
          "summary": "={{ $fromAI('Summary') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        520,
        720
      ],
      "id": "3a02cf4a-0db2-4104-a21a-70d385fae413",
      "name": "Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "F3GUrSoqT5EXbE5d",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Schedule a google calender event based on the given email info below\n\nSubject-{{ $('Get latest E-Mail').item.json.headers.subject }}\nEmail Body - {{ $('Get latest E-Mail').item.json.text }}\nNote-\n1.If year is not mentioned ,take the current year.\n2.All the time is in Indian Standard Time by default.\n3.If the event duration is not mentioned schedule for 1 hour by default.\n4.For offline event like a trekking, picnic,etc (for items packing preparationg is required) happening in the morning before 12 PM , schedule a remainder event on the \"before day night at 8.00 PM\".",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        440
      ],
      "id": "9617b76d-edeb-4c05-9717-8fc3699fe15d",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mail classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Mail Assistant",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Work Mail Assistant",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get latest E-Mail": {
      "main": [
        [
          {
            "node": "E-Mail classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail classifier": {
      "main": [
        [
          {
            "node": "Add Work Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Personal Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Tour Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Other Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Work Label": {
      "main": [
        [
          {
            "node": "Work Mail Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Personal Label": {
      "main": [
        [
          {
            "node": "Personal Mail Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tour Label": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work Mail Assistant": {
      "main": [
        [
          {
            "node": "Draft Work Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Mail Assistant": {
      "main": [
        [
          {
            "node": "Send Personal Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Other Label": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac3c0897-83eb-47f2-8782-360ab849019b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7dde5e8bf6efa49135c10ab15283a66e10b28aa29c973089d0d2006fd9afa4d0"
  },
  "id": "YV3XbYnuxiq1T9QL",
  "tags": []
}